/* NavBar.css */

.ul{
  margin-bottom:0 !important;
}
.navbar {
  background-color: #282c34; /* Dark background */
  padding: 10px 20px; /* Padding around the navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Full width */
}

@media (max-width:468px)
{
  .navbar-logo{
    display:none;
  }

  .navbar-item {
    margin: 0 10px;
  }

  .navbar-menu{
    margin-left:0;
    padding-left: 0 !important;
  }

  .ul{
    padding-left: 0 !important;
  }
}

.navbar-logo {
  color: #61dafb; /* Logo color */
  font-size: 24px; /* Logo font size */
  text-decoration: none; /* Remove underline */
  margin-left:10px;
}

.navbar-menu{
  margin-bottom:0 !important;
}

.navbar-menu {
  list-style: none; /* Remove default list styling */
  display: flex; /* Flexbox for horizontal layout */
}

.navbar-item {
  margin: 0 15px; /* Spacing between items */
}

.navbar-link {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth color transition */
}

.navbar-link:hover {
  color: #61dafb; /* Change color on hover */
}
