/* General container styling */
.competitor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust if necessary */
    gap: 30px; /* Reduce gap between cards */
    padding: 2rem 5rem;
}

/* Card styling */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%; /* Ensure 3 cards in a row */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Add a hover effect */
}

/* Image styling */
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Card body styling */
.card-body {
    padding: 1rem;
}

/* Card text styling */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

/* Center Load More button */
.load-more-container {
    display: flex;
    justify-content: center; /* Center the button */
    margin: 2rem 0; /* Add some margin above and below */
}
